#Entornos Virtuales
.venv/
venv/
ENV/
env/

#Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db
.vscode/
.idea/

#Datos Sensibles y de Configuración
.env