<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bio-Analyzer VCF</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <div class="header-analyst">
        <div>
            <h1 style="margin: 0;">Bio-Analizador VCF</h1>
            <p style="color: #ecf0f1; margin: 5px 0;">Proyecto Académico de Análisis de Variantes Genéticas</p>
        </div>
    </div>

    <div class="app-layout">
        
        <aside class="sidebar">

            <div class="container">
                <h2>Analizador de Variantes (VCF)</h2>
                <p>Sube tu archivo .vcf para identificar mutaciones.</p>
                
                <div class="upload-section">
                    <input type="file" id="vcfFile" accept=".vcf">
                    <br><br>
                    <button onclick="subirArchivo()">Analizar Archivo</button>
                </div>
            </div>

            <div class="container">
                <h2>Busca una variante de forma individual</h2>
                <p>Asigna la variante que deseas buscar.</p>
                
                <div class="form-group">
                <label for="chromosome">Cromosoma:</label>
                <input type="text" id="chromosome-list" placeholder="Escribe el cromosoma" list="chromosome-options" required>
                </div>
                <datalist id="chromosome-options">
                    <option value="chr1">chr1</option>
                    <option value="chr2">chr2</option>
                    <option value="chr3">chr3</option>
                    <option value="chr4">chr4</option>
                    <option value="chr5">chr5</option>
                    <option value="chr6">chr6</option>
                    <option value="chr7">chr7</option>
                    <option value="chr8">chr8</option>
                    <option value="chr9">chr9</option>
                    <option value="chr10">chr10</option>
                    <option value="chr11">chr11</option>
                    <option value="chr12">chr12</option>
                    <option value="chr13">chr13</option>
                    <option value="chr14">chr14</option>
                    <option value="chr15">chr15</option>
                    <option value="chr16">chr16</option>
                    <option value="chr17">chr17</option>
                    <option value="chr18">chr18</option>
                    <option value="chr19">chr19</option>
                    <option value="chr20">chr20</option>
                    <option value="chr21">chr21</option>
                    <option value="chr22">chr22</option>
                </datalist>
                
                
                <div class="form-group">
                <label for="position">Posición:</label>
                <input type="text" id="position" placeholder="Escribe la posición" required>
                </div>

                <div class="form-group">
                <label for="reference">Ref:</label>
                <input type="text" id="reference" placeholder="Escribe la base de referencia" required>
                </div>
                
                <div class="form-group">
                <label for="alternative">Alt:</label>
                <input type="text" id="alternative" placeholder="Escribe la base alternativa" required>
                </div>
               
                <button style="margin-top: 10px;" onclick="buscarVariante()">Buscar Variante</button>
            </div>
        </aside>

        <main class="main-content">
            <div class="container" style="flex: 1;">
                <h2>Panel de Resultados</h2>
                
                <div id="loader" class="loader"><i class="fas fa-spinner fa-spin"></i> Procesando secuencias... por favor espera.</div>
                <div id="loader-individual" class="loader"><i class="fas fa-spinner fa-spin"></i> Procesando variante... por favor espera.</div>
                
                <div id="resultado">
                    <p style="color: #7f8c8d; text-align: center; margin-top: 40px;">
                        <i class="fas fa-folder-open fa-2x" style="display:block; margin-bottom:10px; color:#bdc3c7;"></i>
                        Esperando archivo o consulta individual...
                    </p>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="/static/script.js"></script>
</html>
